[data-llc-checkbox] {
  appearance: none;
  border-radius: var(--llc-radius);
  width: 16px;
  min-width: 16px;
  height: 16px;
  border: 1px solid var(--llc-grey-light);
  position: relative;
  background-color: #fff;
}

[data-llc-checkbox]:hover {
  border-color: var(--llc-grey-dark);
}
[data-llc-checkbox]:after {
  border-color: transparent;
}

[data-llc-checkbox]:checked {
  background-color: var(--llc-background);
}
[data-llc-checkbox]:checked:after {
  content: '';
  top: 0px;
  left: 4px;
  position: absolute;
  width: 5px;
  height: 8px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-color: #fff;
  transform: rotate(40deg);
  transition: border-color 0.15s;
}
